html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.gog-btn2 {
  direction: ltr;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: #565656;
  font-family: Roboto, Arial, sans-serif;
  -moz-user-select: none;
  font-size: 11px;
  background-color: #ffffff;
  padding: 8px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-left: 0px none;
  min-width: 37px;
}
.results {
  position: absolute;
  width: 200px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: -webkit-linear-gradient(left, #41b5ff, #358b26);
  padding-left: 21px;
  color: #fafafa;
}
.results > li {
  background: -webkit-linear-gradient(top, #358b26, #41b5ff);
  padding: 4px;
  cursor: pointer;
}
.rectBtn {
  width: 32px;
  height: 32px;
}
.rectBtn.active {
  background-position: 0 -32px;
}
.rectBtn,
input[type='range'] {
  margin: 6px;
}
.gm-own {
  margin-top: 10px;
  min-width: 100px;
}
.gm-own .line {
  display: block;
}
.hidden {
  visibility: hidden;
}
@keyframes indicator {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.indicator {
  width: 16px;
  height: 16px;
  opacity: 0;
  animation-name: indicator;
  animation-duration: 1s;
}
.clicker {
  display: inline-block;
  width: 17px;
  height: 20px;
  border-radius: 6px;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.53);
  color: white;
  position: absolute;
  top: -15px;
  text-decoration: none;
  font-family: serif;
  padding-top: 8px;
}
.controls-container {
  margin: 16px 2px;
  padding: 2px;
  background-color: rgba(215, 75, 255, 0.31);
  border-radius: 3px;
}
@media only screen and (max-device-width: 1024px) {
  input[type='text'] {
    height: 24px;
  }
}
